@font-face {
  font-family: "Patrick Hand";
  src: url('patrickhand.ttf')
       format('truetype');
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 30px;
  width: 24em;
  margin: 0 auto;

  font-family: "Patrick Hand", serif;
  line-height: 1.6em;
  letter-spacing: 2px;
  text-align: center;
}
h1 {
  letter-spacing: 5px;
}
